<section class="h-screen 
                w-screen 
                flex
                flex-col">
    <main class="grow 
                 flex 
                 items-center
                 justify-center">
        <h1 class="font-sans 
                   text-4xl 
                   subpixel-antialiased
                   font-black
                   text-white
                   text-center
                   ">{{mainText}}</h1>
    </main>
    <footer class="flex 
                   items-center
                   justify-center
                   gap-2
                   translate-x-6
                   h-20">
        <button class="speakButton 
                       bg-purple-400
                       text-white
                       py-2 px-4
                       w-12 h-12
                       rounded-full
                       outline-none
                       inline-flex
                       items-center"
                       (click)="startListening()"
                       [ngClass]="recording ? 'bg-red-400' : 'bg-purple-400'">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="h-12 w-12 scale-150" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z" clip-rule="evenodd" />
            </svg>
        </button>
        <button class="writeButton
                       w-10
                       h-10
                       bg-none
                       text-gray-600
                       outline-none
                       inline-flex
                       items-center
                       justify-center"
                       (click)="startWriting()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 scale-125" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z" clip-rule="evenodd" />
            </svg>
        </button>
    </footer>
    
</section>

