<section class="h-screen 
                w-screen 
                flex
                flex-col">
    <main class="grow">
        <div id="map" class="w-screen m-auto map"></div>
    </main>
    <footer class="flex 
                    items-center
                    justify-center
                    grow
                    content-center">
        <button class="speakButton 
                       bg-purple-500
                       text-white
                       py-2 px-4
                       w-20 h-20
                       rounded-full
                       outline-none
                       inline-flex
                       items-center
                       hover:shadow-xl
                       hover:bg-purple-700
                       duration-300"
                       (click)="backToMainScreen()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-12 scale-100" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
              </svg>
        </button>
    </footer>
</section>
